
.nombre{
    width:60vh;
}
.enunciado{
width: 80vh;    
}

.duracion{
    width:15vh;
    display:inline;
}

.titulo-duracion{
    line-height: 1.1;
    color: inherit;
}
.selectContainer{
    width:20vh;
}

.titulos-secundarios {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    width:60vh;
}

.nombre, .selectContainer, .titulos-secundarios, .requerimientos,.diseño, .desarrollo,.pruebas, .fecha, .enunciado{
    margin-left: 50vh;
}
