.navbar li {
    width: 20vh;
    margin-left: 13vh;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #F0605B;
    text-align: center;
}